@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/* Reset Main Secttions  */



body {

    background-color: black;
    color: white;
    font-size: 100%;
    
    font-family: Roboto, sans-serif;
    font-weight: 300;
    margin: 0px;
    padding: 0px;
    
    
}


h1 {
   
    font-weight: 800;
}

h2 {
    
    font-weight: 800;
}

h4 {
  font-size: 90%;
  font-weight:800;
}


/* Reset Main Secttions END  */



/*   Main Page Sections ******/

.logo {
              
      margin-top: 50px;
      
      background-image: url(../images/thunderlogo.png);
   

        width: 100%;
        height: 150px; 
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

}


.headlinebox {
    width:100%;
    padding: 0;
    margin-left: : 0;
    text-align: center;
   
    padding-top: 30px;
    
    
    background-color: rgba(0, 0, 0, .3);
    margin-left: -10px;
    margin-right: -10px;
    
}

.locationtext {
  font-size: 1.75em;
}

.headlinetext {
    
    font-family: "Roboto", sans-serif;
    margin-top: 10px;
    font-size: 100px;
   
    
}

.subheadline {
    margin-top: 10px;
    font-family: "Exo", sans-serif;
}


.headlinelocation {
    margin-top: 30px;
    text-align: center;
    font-size: 50%;
}

.mainmenu {
    padding-top: 70px;
    color: white;
    background-color: black;
}

.navbar-inverse {
    color: white;
    background-color: black;
    
}


.herobox {

    background-image: url(../images/trheroimage.jpg);

     
    min-height: 600px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    
     /* Create the parallax scrolling effect */
     
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      padding-bottom: 20px;
}




.eatimage {
  
    margin-top: 10px;
    background-image: url(../images/thunder-eat.jpg);
    
     height: 400px;
     
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.partyimage {
         margin-top: 10px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
       
      background-image: url(../images/thunder-party.jpg);
      height: 400px;
}


.drinkimage {
         margin-top: 10px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
     
        background-image: url(../images/thunder-drink.jpg);
          height: 400px;

}

.burgerawardtext {
    text-align: center;
    margin-top: 20px;
    color: gold;
    font-size: 30px;
    font-weight: 800;
}

.bestburgeraward {
    margin-top: 20px;
    margin-left: 30px;
    text-align: center;

    width: 600px;
    height: auto;
    margin-bottom: 40px;
}

.bestburger-image {
    

}

.inside-video {
    text-align: center;
  
}

/********************************/
/*   Footer image Section       */
/********************************/

.footerimage {
    
    
     
      width: 100%;
        height: 300px;
        
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
       
}

.staffimage {
              
     
        background-image: url(../images/trstaff.jpg);

    
}



.burgerfooterimage {

        background-image: url(../images/burger.jpg);
        

}

.djimage {
              
    ;
     
        background-image: url(../images/trdj.jpg);

}

.headimage {
 
            background-image: url(../images/headimage.jpg);

}








/***************************/
/*    Format Buttons      **/
/**************************/


.menubutton {
    padding-top: 20px;
 text-align: center;

    
}


.menu-image {

    padding-left: 10px;
    max-width: 500px;
    height: 400px;
    text-align: center;
    
}


.feature-col {
    text-align: center;
    
}


/***************************/
/*    Section Formatting     **/
/**************************/



.sectionheader {
    padding: 10px;
    margin-top: 20px;
    margin-left: 0;
    
    font-size: 40px;
    font-weight: 800;
   text-align: center;
 
   margin-bottom: 5px;
  
}





.booksection {
  padding-top: 80px;
  text-align: center;
    
}

 .aboutsection {
     padding-top: 10px;
     padding-bottom: 0px;
     margin: 0px;
     padding-right: 0px;
    
     background-color: #3e4850;
 }
 
 .featuresection {
  
     
      margin-top: 0px;
    background-color: grey;
    width: 100%;
    margin-left: -10px;
   
    padding-right: 0px;

     
   
    
 }
 
 .getintouchsection {
     margin-bottom: 20px;
 }
 
 
 .locationcontactsection {
     

      padding-top: 0px;
     padding-bottom: 10px;
     margin: 0px;
     padding-right: 0px;
     margin-bottom: 10px;
     
 }
 
 .mapimage {
     text-align: center;
     margin-left: 
     
 }
 
 
 
 .contactemail {
     color: red;
     font-size: 20px;
 }
 
 .staffsection {
     padding-top: 70px;
 }
 


.about-header {
     
    padding-top: 20px;
    
    text-align: center;
    
}

.about-text {
   
    padding-top: 5px;
    
    text-align: center;
}






.bestburgeraward {
    margin-left: 10px;
    text-align: center;

    width: auto;
    height: auto;
}


.customerfeedback {
    text-align: center;
     margin-top: 20px;
}

.feedbackelement {
    font-size: 18px;
    text-align: center;
}




.inside-video {
    margin-top: 20px;
}


.insidethunderroadsection {
    width: 100%;

     background-color: #b0b0b0;
     padding-bottom: 50px;
    
}


.socialsection {
    background-color: white;
    padding-bottom: 100px;
    padding-top: 0px;
    margin-top: 0px;
    margin-right: 100px;
   
}




.feature-text {
    margin:0;
    text-align: center;
    font-size: 22px;
    font-weight: 800;
    width: 100%;
 
    padding-bottom: 20px;
}



.mapheader {
   
    padding-top: 5px;
    padding-bottom: 5px;
}

.mapsection {
  
}

.locationmap {

margin-top: 30px;
    
}



.socialimage {
    text-align: center;
}


.socialintro {
    text-align: center;
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
  
}

.vipcalltoaction {


 margin-left: 100px;
 margin-left: 15%;
 margin-right: 15%;
 margin-bottom: 30px;
}


.contactdetails {
    
 margin-top: 10px;   
 margin-left: 15%;


}


.vipbox {
   
   text-align: center;
   
    
}

.vipform {
    margin-top: 50px;
}



/*****************************************/
/* ------   Menu Styling --------------*/
/*****************************************/


.menuintro {
    text-align: center;
    font-size: 4em;
    font-weight: 800;
 
}
 


.menuheading {
    margin-top: 20px;
    font-size: 2em;
    font-weight: 800;
    text-align: center;
    display: block;
    margin-bottom: 20px;

}

.menuitem {
     font-size: 1em;
    text-align: center;
       font-weight: 400;
       display: block;
     
     
    
}




/*****************************************/
/* ------   Media Queries --------------*/
/*****************************************/


@media screen and (max-width: 600px) {
    


.navbar-brand {
    display:none;
}


.bestburgeraward {
    display: none;
}

.mapsection {
    display: none;
}


.eatimage {

  height: 250px;    

}


.partyimage {
    height: 250px;    

     
}


.drinkimage {
       height: 250px;    

}



.inside-video {
    display: none;
    
}


.mapimage {
   padding-top: 20px;
   
 }



.footerimage {
 
        height: 200px;
        
}

    
}




@media screen and (max-width: 800px) {

  
    
   
.headlinelocation  {
     display: none;
     
 }

.booksection {
  padding-top: 40px;
  text-align: center;
    
}

..bestburgeraward {
    margin-left: 10px;
    text-align: center;

    width: 400px;
    height: 100px;
}


.inside-video {
    display: none;
    
}
   
.mapsection {
    display: none;
}

   


.menu-image {

    margin-top:  10px;
    margin-left: 32px;
   
    width: 100%;
    height: auto;
    text-align: center;
    
    
}



 .mapimage {
     margin:0;
     paddin:0:

     text-align: centre;
     height:400px;
     width: 500px;
     
     
     
 }
.insidethunderroadsection {
   
     padding-bottom: 0px;
    
}




.footerimage {
    
        height: 300px;
}


   
}



@media screen and (max-width: 1200px) {
    
.herobox {
   
    min-height: 600px;
    
}   

.footerimage {
 
        height: 200px;
        
       
}

    
}

       
    

